<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/inddoct.css">
    <title><%= doct.name %></title>
</head>
<body >
    <div class="div1">
    <h3>Name - <%=    doct.name %></h3>
    <h4>Phone - <%=   doct.phone %></h4>
    <h4>Fees - <%=   doct.fees %></h4>
    <h4>Email - <%=   doct.email %></h4>
    <h4>Address - <%= doct.address %></h4>
    <form action="/booking/<%= doct._id %>" method="POST">
        <button class="btn btn-success">Book</button>
    </form>
    <a href="/DisplayDoct"><button class="btn btn-danger">Back</button></a>
    </div>
</body>
</html>