<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pat.name %></title>
</head>
<body>
    <h3>Name - <%= pat.name %></h3>
    <h4>Phone - <%= pat.phone %></h4>
    <h4>Email - <%= pat.email %></h4>
    <h4>Address - <%= pat.address %></h4>
    <a href="/products">Back</a>
</body>
</html>